<h1>About This Website</h1>
<p>This is just a weired website. It's got a few small things that don't really go together. It's got no real purpose. At the moment, it's got no database. Anything you change on here, any tasks you add, blog posts you create, will dissapear as soon as I restart the nerver it's running on.</p>
<p>So, you might ask then, why is this website even a thing that exists? You might ask that, and it would be a very good question.</p>