<h1>Compose your new blog post</h1>

<div class="compose">
<form action="/compose" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" autofocus autocomplete="off" >
  <label for="content">Content</label>
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <button type="submit">Post</button>
</form>
</div>