* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  &__logo {
    margin: 1.2rem;
  }
  &__list {
    display: flex;
    list-style: none;
    margin: 1.2rem;
  }
  &__item {
    padding: 0.4rem 0.8rem;
  }
}   

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  text-align: center;
  padding-top: 1rem;
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    padding: 0.5rem;
  }
  &__copy {
    grid-column: 1 / span 2;
    margin-top: 0.8rem;
  }
}